
Welcome, <%= @user.name%>

<div class="container" style="display:flex; flex-direction: column; justify-content: space-between">
    Create Contract<br>
    <form action="/contract" method="post">
        <label for="candidate">Candidate</label><br>
        <input type="text" name="candidate" placeholder="Candidate's Full Name"><br>
        <label for="company">Company</label><br>
        <input type="text" name="company" placeholder="Company Name"><br>
        <button type="submit">Submit</button>
    </form>
    <h2 style="padding: 20px">Candidates</h2>
    <div class="table-responsive" id="candidate-table" style="max-height: 240px;">
        <table class="table table-striped">
        <thead style="position: sticky; top: 0px; background:white;">
            <tr>
            <th scope="col" class></th>
            <th scope="col" class>Name</th>
            <th scope="col" class>Skill</th>
            <th scope="col" class>Location</th>
            <th scope="col" class>Desired Salary</th>
            </tr>
        </thead>
        <tbody style="overflow-y:auto; max-width: 100%;">
            <% @candidates.each_with_index do |candidate,index| %>          
                <tr>
                    <th scope="row"><%= index + 1%></th>
                    <td><%= candidate.name %></td>
                    <td><%= candidate.skillset %></td>
                    <td><%= candidate.location %></td>
                    <td><%= candidate.desired_salary.to_i.round(-3).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    <h2 style="padding: 20px">Companies</h2>
    <div class="table-responsive" id="company-table" style="max-height: 240px;">
        <table class="table table-striped">
        <thead style="position: sticky; top: 0px; background:white">
            <tr>
            <th scope="col" class></th>
            <th scope="col" class>Company</th>
            <th scope="col" class># Of Listings</th>
            <th scope="col" class>Location</th>
            <th scope="col" class># Of Employees</th>
            </tr>
        </thead>
        <tbody style="overflow-y:auto; max-width: 100%;">
            <% @companies.each_with_index do |company,index| %>          
                <tr>
                    <th scope="row"><%= index + 1%></th>
                    <td><%= company.name %></td>
                    <td><%= company.listings.count %></td>
                    <td><%= company.location %></td>
                    <td><%= company.name %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>

    <h2 style="padding: 20px">Listings</h2>
<div class="table-responsive" style="max-height: 500px">
<table class="table table-striped">
  <thead style="position: sticky; top: 0px; background:white">
    <tr style="display: sticky">
      <th scope="col"></th>
      <th scope="col">Position</th>
      <th scope="col">Company</th>
      <th scope="col">Salary</th>
      <th scope="col">Date Posted</th>
    </tr>
  </thead>
  <tbody style="overflow-y:auto; margin: 25px 0px">
    <% @listings.each_with_index do |listing,index| %>          
        <tr>
            <th scope="row"><%= index + 1%></th>
            <td><%= listing.position %></td>
            <td><%= listing.company.name %></td>
            <td><%= listing.salary.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
            <td><%= listing.date_posted %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
